<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("partials/navigation")%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1">About Us</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam quidem
          quis voluptatem accusamus veritatis expedita, esse, quibusdam a nobis
          mollitia non, rem minus temporibus totam illo consectetur veniam
          facilis quos ad tempore laborum quasi velit dolor! Magnam deserunt
          accusamus aspernatur voluptatibus placeat dolor aut numquam qui
          debitis repudiandae nihil, explicabo ex eum iusto inventore sit
          commodi molestias atque delectus sed sequi et possimus modi! Numquam
          laudantium molestias odit maxime molestiae fugit laboriosam incidunt
          consequatur, quaerat eaque unde cumque itaque magnam neque aliquam
          officia. Accusamus accusantium vel eius aut omnis at, nulla fugit
          aliquid ratione obcaecati ipsa deleniti quas? Maiores voluptate
          nesciunt modi atque eius similique cumque vero magni, voluptatum
          ipsum, quidem totam eligendi quae quos! Quis tenetur ipsum facilis
          pariatur rem expedita itaque voluptate illum sit. Pariatur inventore
          quas recusandae voluptas, quidem, aliquid optio incidunt cupiditate at
          rerum, eos odit praesentium molestiae expedita blanditiis? Distinctio
          exercitationem soluta praesentium doloremque? Quidem impedit non,
          voluptas delectus consequuntur ut ad eveniet placeat molestiae quas
          alias dolore mollitia deleniti nemo et tenetur nobis sapiente maxime.
          Minus nemo explicabo, magnam consequatur dolores autem assumenda et
          laborum deserunt aspernatur accusantium libero nulla fugiat
          consectetur tenetur omnis veniam officia, iste, sapiente quos aut
          eius. Illo modi earum ullam at ut accusamus quasi sit facilis quo
          natus recusandae doloribus reprehenderit fuga, distinctio facere
          soluta eligendi mollitia architecto blanditiis? Nobis exercitationem
          enim asperiores nulla, totam assumenda natus eligendi laudantium
          soluta voluptate reiciendis obcaecati ipsa velit veritatis, debitis
          corrupti, eius ducimus tempore laboriosam beatae nihil placeat?
          Repellendus nulla qui vitae, inventore repellat quis hic, quibusdam
          expedita, neque aliquam dolor. Nemo eum quos odio debitis dolorum aut
          sequi at possimus molestias, voluptates nostrum, officiis quasi
          reprehenderit ipsa. Dolorem, quae. Dolorum laudantium quam rerum
          ipsum. Aliquid molestias qui aut doloribus cumque voluptate
          exercitationem quisquam excepturi ipsum necessitatibus fuga, natus,
          praesentium quis recusandae.
        </p>
      </section>
    </main>

    <%- include("partials/footer") %>

  </body>
</html>
